<div class="container body-content">
    <div class="row margin-bottom-lg">
        <div class="col-md-5">
            <div class="row">
                    <h4 class="list-group-item-heading">Name: {{customer.firstName}} {{customer.lastName}}</h4>
                    <p class="list-group-item-text">E-mail: {{customer.email}}</p>
                    <p class="list-group-item-text">Phone: {{customer.telephone}}</p>
                    <p class="list-group-item-text">Address: {{customer.address}}</p>
                    <p class="list-group-item-text">ID: {{customer.pin}}</p>
                </a>
            </div>
        </div>

    </div>
</div>

